.haha-card-wrap{
	position:relative;
	height:100%;
	overflow:hidden;
	.haha-card-img{
		width:100%;
	}
	.haha-card-content{
		position: absolute;
		width:100%;
		height:2.5rem;
		background:#fff;
		bottom:0;
		padding:0 0.9375rem;
		line-height: 2.5rem;
		color:#333;
		font-size: .88rem;
		.haha-card-baoming{
			color:#999;
			font-size: .75rem;
			// float: right;
			position:absolute;
			right:0.9375rem;
		}
	}
}
