@function pxToVw($px) {
   	@return $px/750*100*2vw;
}
.swiper-slide{
	height:145px;
	overflow: hidden;
	transition: all 0.2s;
	transform: translate(0, -5px) scale(0.8)!important;
}
.swiper-slide-active{
	transform: scale(1)!important;
}
@supports(font-size:1vw) {
  	.swiper-slide{
  		height:pxToVw(145);
  	}
}