.haha-scroller-wrap{
    height:100%;
    width:100%;
    overflow: hidden;
    .haha-scroller-transition{
        transition: transform .3s cubic-bezier(.17,.67,.77,1.03);
    }
    .haha-scroller-content{
        position: relative;
        // -webkit-overflow-scrolling: touch;
        .haha-scroller-spin-top{
            text-align:center;
            padding: 6px 0;
            position: absolute;
            top:-46px;
            width:100%;
        }
        .haha-scroller-spin-bottom{
            text-align:center;
            padding: 6px 0;
            position: absolute;
            bottom:-46px;
            width:100%;
        }
    }


}
