.haha-dialog-wrap{
    @mixin border_bottom() {
      position: relative;
      &:after {
        content: '' !important;
        position: absolute;
        left: -50%;
        width: 200%;
        transform: scale(.5);
        box-sizing: border-box;
        transform-origin: center bottom;
        bottom:0px;
        background: #EBECED;
        height:1px;
      }
    }
    @mixin border_top() {
      position: relative;
      &:before {
        content: '' !important;
        position: absolute;
        left: -50%;
        width: 200%;
        transform: scale(.5);
        box-sizing: border-box;
        transform-origin: center top;
        top:0px;
        background: #EBECED;
        height:1px;
      }
    }
    .border-top {
    	@include border_top();
    }
    .border-bottom {
    	@include border_bottom();
    }
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1020;
    .haha-dialog-content{
        position: fixed;
        top: 50%;
        left:50%;
        z-index: 1021;
        transform: translate3d(-50%,-50%,0);
        font-size: .88rem;
        background: #F9F9F9;
        box-shadow: 0 1px 10px 0 rgba(0,0,0,0.20);
        border-radius: 10px;
        width: 16.88rem;
        height:auto;
        word-wrap: break-word;
        word-break: break-all;
        .haha-dialog-input{
            width: 85%;
            display: block;
            margin:2rem auto 1.5rem;
            background: #fff;
            border: 1px solid #D8DEE3;
            font-size: 1rem;
            color: #282828;
            text-align: left;
            // text-indent: 0.5rem;
            padding:0 0.5rem;
            height:2rem;
            border-radius: 0.3rem;
        }
        .haha-dialog-btn-wrap{
            border-top: 1px solid #EBECED;
            display: flex;
            height:2.81rem;
            font-size: 1rem;
            color: #007AFF;
            letter-spacing: 0;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                flex:1;
            }
            div:first-child{
                border-right: 1px solid #EBECED;
            }
        }
    }
}
